#wrapper {
	margin: 0px auto;
	width: 800px;
}

h1 {
	text-align: center;
	background-color: #ccc; 
	padding: 60px 0px
}

#menu {
	background-color:red;
	width: 100px;
	z-index: 5;
	position: relative;
	bottom: 21px;
}

#symbol {
	left: 80px;
	position: relative;
	bottom: 40px;
}

#navbar {
	display: flex;
	position: relative; 
	bottom: 55px
}

#i2 {
	position: relative;
    right: 41px;
}

#i3 {
	position: relative;
    right: 83px;
}

#i4 {
	position: relative;
    right: 124px;
}

#i5 {
	position: relative;
    right: 165px;
}

@keyframes path{
  0% {
	transform:translate(0px,0px);
  }
  25%{
	transform:translate(15px, -5px);
  }
  50% {
	transform:translate(110px, -10px);
  }
  75%{
	transform:translate(120px, 30px);
  }
  100% {
	transform:translate(120px,50px);
  }
}

@keyframes path2{
  0% {
	transform:translate(0px,0px);
  }
  25%{
	transform:translate(15px, -5px);
  }
  50% {
	transform:translate(110px, -20px); /* to right */
  }
  75%{
	transform:translate(210px, 30px);
  }
  100% {
	transform:translate(210px,50px);
  }
}

@keyframes path3{
  0% {
	transform:translate(0px,0px);
  }
  25%{
	transform:translate(15px, -5px);
  }
  50% {
	transform:translate(150px, -10px); /* to right */
  }
  75%{
	transform:translate(310px, 30px);
  }
  100% {
	transform:translate(310px,50px);
  }
}

@keyframes path4{
  0% {
	transform:translate(0px,0px);
  }
  25%{
	transform:translate(15px, -5px);
  }
  50% {
	transform:translate(150px, -10px); /* to right */
  }
  75%{
	transform:translate(410px, 30px);
  }
  100% {
	transform:translate(410px,50px);
  }
}

@keyframes path5{
  0% {
	transform:translate(0px,0px);
  }
  25%{
	transform:translate(15px, -5px);
  }
  50% {
	transform:translate(150px, -10px); /* to right */
  }
  75%{
	transform:translate(510px, 30px);
  }
  100% {
	transform:translate(510px,50px);
  }
}