@color_1: white;
@color_2: orange;
@color_3: black;
@color_4: #76777a;
@color_5: #384158;
@color_6: #2c3145;
@color_7: #FFFFFF;
@color_8: #5e6271;
@font_family_1: 'Montserrat', sans-serif;
@font_family_2: 'Open Sans', sans-serif;
@font_family_3: 'Roboto', sans-serif;
@font_family_4: 'Roboto Slab', serif;
@background_color_1: #0099e6;
@background_color_2: #9ed3df;
@background_color_3: lightblue;
@background_color_4: black;
@background_color_5: white;
@background_color_6: #eee;





* {
	margin: 0px;
	padding: 0px;
}
.topbutton {
	a {
		margin-top: 10px;
		display: inline-block;
		color: @color_1;
		text-decoration: none;
		padding-right: 10px;
		font-family: @font_family_1;
		&:hover {
			color: @color_2;
			transition: all 1s;
			text-decoration: none;
		}
	}
}
.wrapper {
	width: 900px;
	margin: auto;
	width: 1100px;
	margin: auto;
}
.containerdark {
	background-color: @background_color_1;
	color: @color_1;
	width: 100%;
}
#top_left {
	display: inline-block;
}
#top_leftBar {
	border: 1 px solid red;
	display: inline-block;
}
#top_rightBar {
	float: right;
}
#top_right {
	float: right;
}
#top_div {
	height: 50px;
	line-height: 30px;
}
#clear {
	clear: both;
}
.menu {
	width: 100%;
	height: 100px;
	background-color: @background_color_2;
}
.rightmenu {
	width: 70%;
	height: 100px;
	float: right;
	ul {
		float: right;
		margin-right: 50px;
		li {
			a {
				text-decoration: none;
				color: @color_1;
				transition: all 1s;
				&:hover {
					color: @color_2;
				}
			}
			font-family: @font_family_1;
			display: inline-block;
			list-style: none;
			font-size: 15px;
			color: @color_1;
			font-weight: bold;
			line-height: 100px;
			margin-left: 40px;
			text-transform: uppercase;
		}
	}
}
#fisrtlist {
	a {
		color: @color_2;
	}
}
.text {
	width: 100%;
	margin-top: 285px;
	text-transform: uppercase;
	text-align: center;
	color: @color_1;
	h4 {
		font-size: 14px;
		font-family: @font_family_2;
	}
	h2 {
		font-size: 42px;
		font-family: @font_family_1;
		font-weight: 700px;
		margin: 14px 0px;
	}
}
#div-text {
	margin: 3px;
	width: 393px;
	display: inline-block;
	margin-top: 50px;
	margin-bottom: 15px;
	box-shadow: 5px 5px 10px grey;
	padding: 15px;
}
#text-image {
	width: 393px;
	margin: auto;
}
.leftimg {
	width: 400px;
	height: 300px;
	padding-top: 100px;
	padding-left: 20px;
}
.righttext {
	text-align: right;
}
#div_text {
	width: 330px;
	margin: 3px;
	display: inline-block;
	border-radius: 15px;
	border: gray;
	padding: 10px;
	img {
		border-radius: 35px;
		border: 1px gray;
		margin: 5px;
		padding: 5px;
	}
}
#container {
	padding-top: 200px;
	width: 100%;
	color: @color_3;
}
.wrapper1 {
	height: 300px;
	width: 1300px;
	margin: auto;
}
#images {
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: -20px;
	p {
		padding-left: 10px;
		padding-top: 110px;
	}
}
.images {
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: -20px;
	p {
		padding-left: 10px;
		margin-top: 110px;
		padding-left: 450px;
		padding-right: 220px;
	}
}
.subsection44 {
	background-color: @background_color_3;
}
.subsection4 {
	height: 410px;
	background-color: @background_color_3;
	height: 400px;
	background-color: @background_color_3;
}
.footer1 {
	background-color: @background_color_3;
	width: 50%;
	padding-top: 40px;
	display: inline-block;
	background-color: @background_color_3;
	width: 50%;
	padding-top: 40px;
	display: inline-block;
	ul {
		li {
			a {
				text-decoration: none;
				color: @color_3;
				line-height: 20px;
			}
		}
		padding-left: 70px;
	}
	h2 {
		padding-left: 40px;
	}
}
.footer123 {
	padding-left: 200px;
}
.footer {
	background-color: @background_color_4;
	padding: 20px 0px;
	p {
		color: @color_1;
		margin-bottom: 10px;
		margin-top: 10px;
	}
}
.fa {
	padding: 10px;
	font-size: 20px;
	width: 40px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	&:hover {
		opacity: 0.7;
	}
}
.fa-facebook {
	background: #3B5998;
	color: @color_1;
}
.fa-twitter {
	background: #55ACEE;
	color: @color_1;
}
.fa-google {
	background: #dd4b39;
	color: @color_1;
}
.fa-youtube {
	background: #bb0000;
	color: @color_1;
}
.fa-instagram {
	background: #125688;
	color: @color_1;
}
.icon {
	padding-left: 520px;
	padding-top: 30px;
	display: inline-block;
	float: left;
}
.subsection123 {
	height: 370px;
	background-color: @background_color_3;
}
.section {
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
}
.subsection11 {
	height: 464px;
	background-color: @background_color_5;
}
.subsection1 {
	height: 58%;
	background-color: @background_color_5;
	h1 {
		text-align: center;
	}
	img {
		border-radius: 25px;
	}
	p {
		text-align: center;
	}
}
.subsection2 {
	height: 58%;
	background-color: @background_color_5;
	h1 {
		text-align: center;
	}
}
.gallery {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 300px;
	&:hover {
		border: 1px solid #777;
	}
	img {
		width: 100%;
		height: 200px;
	}
}
.desc {
	font-weight: bold;
	padding: 15px;
	text-align: center;
	height: 30px;
}
.subsection3 {
	height: 40%;
	background-color: @background_color_5;
	h1 {
		text-align: center;
		margin-top: 50px;
	}
	p {
		text-align: center;
		margin-top: 50px;
	}
	img {
		height: 220px;
		width: 350px;
		border-radius: 20px;
	}
}
.subsection {
	height: 500px;
	background-color: @background_color_5;
}
.sectone {
	background-image: url("images/418067.jpg");
	height: 500px;
}
.secttwo {
	background-image: url("images/654496.jpg");
	height: 500px;
}
.sectthree {
	background-image: url("images/378383.jpg");
}
.sectfour {
	background-image: url("images/381083.jpg");
}
.contact {
	width: 100%;
	padding-bottom: 100px;
}
#content {
	width: 180px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: @font_family_3;
	font-size: 14px;
	color: @color_4;
	line-height: 1.71;
}
.contact_info_container {
	margin-top: 100px;
}
.contact_info_title {
	font-family: @font_family_4;
	font-size: 36px;
	font-weight: 700;
	color: @color_5;
}
.contact_form {
	padding-right: 10px;
}
.comment_form {
	margin-top: 35px;
	>div {
		&:not(:last-child) {
			margin-bottom: 25px;
		}
	}
}
.comment_input {
	width: 100%;
	height: 46px;
	border: solid 1px #d9d9d9;
	border-radius: 3px;
	padding-left: 19px;
	font-size: 16px;
	font-weight: 400;
	color: @color_6;
	&:focus {
		border: solid 1px #14bdee;
		outline: none;
	}
}
.comment_textarea {
	width: 100%;
	height: 150px;
	padding-top: 15px;
}
.form_title {
	font-size: 16px;
	font-weight: 400;
	color: @color_5;
	margin-bottom: 12px;
}
.comment_button {
	width: 150px;
	height: 46px;
	background: #14bdee;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	color: @color_7;
	cursor: pointer;
	border: none;
	outline: none;
	border-radius: 3px;
	margin-top: 15px;
	&:hover {
		box-shadow: 0px 5px 40px rgba(0,0,0,0.25);
	}
}
.contact_info {
	padding-left: 45px;
}
.contact_info_text {
	margin-top: 27px;
}
.contact_info_location {
	margin-top: 28px;
}
.contact_info_location_title {
	font-family: @font_family_4;
	font-size: 18px;
	font-weight: 700;
	color: @color_5;
}
.location_list {
	margin-top: 14px;
	li {
		font-size: 14px;
		color: @color_8;
		&:not(:last-child) {
			margin-bottom: 9px;
		}
	}
}
.read1 {
	height: 400px;
	width: 800px;
	margin-top: 30px;
}
.readp {
	text-align: center;
	margin-left: 250px;
	margin-right: 250px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.containerimg {
	width: 100%;
}
#slider_image {
	img {
		width: 868px;
		height: 400px;
		border: 1px solid grey;
		padding: 15px;
		background-color: @background_color_6;
		box-shadow: 5px 5px 10px grey;
		margin-top: 10px;
		margin-bottom: 15px;
	}
}
.impacttext {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	margin-left: 220px;
	margin-right: 400px;
	h3 {
		margin-top: 15px;
		margin-bottom: 15px;
		text-align: center;
		margin-left: 220px;
		margin-right: 400px;
	}
}
#donatetext {
	float: left;
	margin-top: 90px;
}
.donatebutton {
	button {
		margin-left: 17px;
	}
}
@color_1: white;
@color_2: orange;
@color_3: black;
@color_4: #76777a;
@color_5: #384158;
@color_6: #2c3145;
@color_7: #FFFFFF;
@color_8: #5e6271;
@font_family_1: 'Montserrat', sans-serif;
@font_family_2: 'Open Sans', sans-serif;
@font_family_3: 'Roboto', sans-serif;
@font_family_4: 'Roboto Slab', serif;
@background_color_1: #0099e6;
@background_color_2: #9ed3df;
@background_color_3: lightblue;
@background_color_4: black;
@background_color_5: white;
@background_color_6: #eee;

/***NAVIGATION***/
/*.leftmenue
{ 
float: left;}*/
/***END NAVIGATION**/
/***SLIDER***/
/**END SLIDER**/
/***BODY***/
/**END BODY**/
/**FOOTER**/
/**END FOOTER**/
/***ABOUT WORLD WAR***/
/***END OF ABOUT WORLD WAR***/
/***CONTACT***/
/****END OF CONTACT ***/
/***Blog***/
/****IMPACT ****/
/**donation**/
* {
	margin: 0px;
	padding: 0px;
}
.topbutton {
	a {
		margin-top: 10px;
		display: inline-block;
		color: @color_1;
		text-decoration: none;
		padding-right: 10px;
		font-family: @font_family_1;
		&:hover {
			color: @color_2;
			transition: all 1s;
			text-decoration: none;
		}
	}
}
.wrapper {
	width: 900px;
	margin: auto;
	width: 1100px;
	margin: auto;
}
.containerdark {
	background-color: @background_color_1;
	color: @color_1;
	width: 100%;
}
#top_left {
	display: inline-block;
}
#top_leftBar {
	border: 1 px solid red;
	display: inline-block;
}
#top_rightBar {
	float: right;
}
#top_right {
	float: right;
}
#top_div {
	height: 50px;
	line-height: 30px;
}
#clear {
	clear: both;
}
.menu {
	width: 100%;
	height: 100px;
	background-color: @background_color_2;
}
.rightmenu {
	width: 70%;
	height: 100px;
	float: right;
	ul {
		float: right;
		margin-right: 50px;
		li {
			a {
				text-decoration: none;
				color: @color_1;
				transition: all 1s;
				&:hover {
					color: @color_2;
				}
			}
			font-family: @font_family_1;
			display: inline-block;
			list-style: none;
			font-size: 15px;
			color: @color_1;
			font-weight: bold;
			line-height: 100px;
			margin-left: 40px;
			text-transform: uppercase;
		}
	}
}
#fisrtlist {
	a {
		color: @color_2;
	}
}
.text {
	width: 100%;
	margin-top: 285px;
	text-transform: uppercase;
	text-align: center;
	color: @color_1;
	h4 {
		font-size: 14px;
		font-family: @font_family_2;
	}
	h2 {
		font-size: 42px;
		font-family: @font_family_1;
		font-weight: 700px;
		margin: 14px 0px;
	}
}
#div-text {
	margin: 3px;
	width: 393px;
	display: inline-block;
	margin-top: 50px;
	margin-bottom: 15px;
	box-shadow: 5px 5px 10px grey;
	padding: 15px;
}
#text-image {
	width: 393px;
	margin: auto;
}
.leftimg {
	width: 400px;
	height: 300px;
	padding-top: 100px;
	padding-left: 20px;
}
.righttext {
	text-align: right;
}
#div_text {
	width: 330px;
	margin: 3px;
	display: inline-block;
	border-radius: 15px;
	border: gray;
	padding: 10px;
	img {
		border-radius: 35px;
		border: 1px gray;
		margin: 5px;
		padding: 5px;
	}
}
#container {
	padding-top: 200px;
	width: 100%;
	color: @color_3;
}
.wrapper1 {
	height: 300px;
	width: 1300px;
	margin: auto;
}
#images {
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: -20px;
	p {
		padding-left: 10px;
		padding-top: 110px;
	}
}
.images {
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: -20px;
	p {
		padding-left: 10px;
		margin-top: 110px;
		padding-left: 450px;
		padding-right: 220px;
	}
}
.subsection44 {
	background-color: @background_color_3;
}
.subsection4 {
	height: 410px;
	background-color: @background_color_3;
	height: 400px;
	background-color: @background_color_3;
}
.footer1 {
	background-color: @background_color_3;
	width: 50%;
	padding-top: 40px;
	display: inline-block;
	background-color: @background_color_3;
	width: 50%;
	padding-top: 40px;
	display: inline-block;
	ul {
		li {
			a {
				text-decoration: none;
				color: @color_3;
				line-height: 20px;
			}
		}
		padding-left: 70px;
	}
	h2 {
		padding-left: 40px;
	}
}
.footer123 {
	padding-left: 200px;
}
.footer {
	background-color: @background_color_4;
	padding: 20px 0px;
	p {
		color: @color_1;
		margin-bottom: 10px;
		margin-top: 10px;
	}
}
.fa {
	padding: 10px;
	font-size: 20px;
	width: 40px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	&:hover {
		opacity: 0.7;
	}
}
.fa-facebook {
	background: #3B5998;
	color: @color_1;
}
.fa-twitter {
	background: #55ACEE;
	color: @color_1;
}
.fa-google {
	background: #dd4b39;
	color: @color_1;
}
.fa-youtube {
	background: #bb0000;
	color: @color_1;
}
.fa-instagram {
	background: #125688;
	color: @color_1;
}
.icon {
	padding-left: 520px;
	padding-top: 30px;
	display: inline-block;
	float: left;
}
.subsection123 {
	height: 370px;
	background-color: @background_color_3;
}
.section {
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
}
.subsection11 {
	height: 464px;
	background-color: @background_color_5;
}
.subsection1 {
	height: 58%;
	background-color: @background_color_5;
	h1 {
		text-align: center;
	}
	img {
		border-radius: 25px;
	}
	p {
		text-align: center;
	}
}
.subsection2 {
	height: 58%;
	background-color: @background_color_5;
	h1 {
		text-align: center;
	}
}
.gallery {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 300px;
	&:hover {
		border: 1px solid #777;
	}
	img {
		width: 100%;
		height: 200px;
	}
}
.desc {
	font-weight: bold;
	padding: 15px;
	text-align: center;
	height: 30px;
}
.subsection3 {
	height: 40%;
	background-color: @background_color_5;
	h1 {
		text-align: center;
		margin-top: 50px;
	}
	p {
		text-align: center;
		margin-top: 50px;
	}
	img {
		height: 220px;
		width: 350px;
		border-radius: 20px;
	}
}
.subsection {
	height: 500px;
	background-color: @background_color_5;
}
.sectone {
	background-image: url("images/418067.jpg");
	height: 500px;
}
.secttwo {
	background-image: url("images/654496.jpg");
	height: 500px;
}
.sectthree {
	background-image: url("images/378383.jpg");
}
.sectfour {
	background-image: url("images/381083.jpg");
}
.contact {
	width: 100%;
	padding-bottom: 100px;
}
#content {
	width: 180px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: @font_family_3;
	font-size: 14px;
	color: @color_4;
	line-height: 1.71;
}
.contact_info_container {
	margin-top: 100px;
}
.contact_info_title {
	font-family: @font_family_4;
	font-size: 36px;
	font-weight: 700;
	color: @color_5;
}
.contact_form {
	padding-right: 10px;
}
.comment_form {
	margin-top: 35px;
	>div {
		&:not(:last-child) {
			margin-bottom: 25px;
		}
	}
}
.comment_input {
	width: 100%;
	height: 46px;
	border: solid 1px #d9d9d9;
	border-radius: 3px;
	padding-left: 19px;
	font-size: 16px;
	font-weight: 400;
	color: @color_6;
	&:focus {
		border: solid 1px #14bdee;
		outline: none;
	}
}
.comment_textarea {
	width: 100%;
	height: 150px;
	padding-top: 15px;
}
.form_title {
	font-size: 16px;
	font-weight: 400;
	color: @color_5;
	margin-bottom: 12px;
}
.comment_button {
	width: 150px;
	height: 46px;
	background: #14bdee;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	color: @color_7;
	cursor: pointer;
	border: none;
	outline: none;
	border-radius: 3px;
	margin-top: 15px;
	&:hover {
		box-shadow: 0px 5px 40px rgba(0,0,0,0.25);
	}
}
.contact_info {
	padding-left: 45px;
}
.contact_info_text {
	margin-top: 27px;
}
.contact_info_location {
	margin-top: 28px;
}
.contact_info_location_title {
	font-family: @font_family_4;
	font-size: 18px;
	font-weight: 700;
	color: @color_5;
}
.location_list {
	margin-top: 14px;
	li {
		font-size: 14px;
		color: @color_8;
		&:not(:last-child) {
			margin-bottom: 9px;
		}
	}
}
.read1 {
	height: 400px;
	width: 800px;
	margin-top: 30px;
}
.readp {
	text-align: center;
	margin-left: 250px;
	margin-right: 250px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.containerimg {
	width: 100%;
}
#slider_image {
	img {
		width: 868px;
		height: 400px;
		border: 1px solid grey;
		padding: 15px;
		background-color: @background_color_6;
		box-shadow: 5px 5px 10px grey;
		margin-top: 10px;
		margin-bottom: 15px;
	}
}
.impacttext {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	margin-left: 220px;
	margin-right: 400px;
	h3 {
		margin-top: 15px;
		margin-bottom: 15px;
		text-align: center;
		margin-left: 220px;
		margin-right: 400px;
	}
}
#donatetext {
	float: left;
	margin-top: 90px;
}
.donatebutton {
	button {
		margin-left: 17px;
	}
}
