// colors
@mainbg: #800080;
@lightbg: #FE7FFE;
@mediumbg: #E600E6;
@hardbg: #4D004D;
@softbg: #B300B3;
@bars: #008000;
@lightblue: #2DB2B7;
@title-size: #000000;

// dimensions

// parametric mixins
.gradient(@direction: '', @first: '', @second: ''){
	background-image: linear-gradient(@direction, @first , @second);
}




@media screen and (min-width: 814px) {
	// divs
	.title {
		.gradient(to right, @mainbg , @lightbg);
		padding: 5px;
		text-align: center;
		font-weight: bold;
		font-size: 32pt;
	}

	.menu {
		height: 100%;
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		border-radius: 15px;
		display: block;
		text-align: center;
		background-color: @hardbg;
		
		.item {
			display: inline-block;
			margin-left: 15px;
			margin-right: 15px;
			padding-top: 4px;
			padding-bottom: 4px;
			color: #FFFFFF;
		}
		
		div.item:hover {
			background-color: @lightbg;
		}
		
		.item:nth-child(3n+1){
			background-color: @mainbg;
		}
		
		.item:nth-child(3n+2){
			background-color: @softbg;
		}
		
		.item:nth-child(3n+3){
			background-color: @mediumbg;
		}
		
	}
	
	.container {
		background-color: @mainbg;
		display: grid;
		grid-template-areas:
		'sidebar bargraph bargraph bargraph'
		'sidebar flexbottom flexbottom flexbottom';
		border-radius: 50px 0px 0px 50px;
	}
	
	.bargraph {
		grid-area: bargraph;
		height: 200px;
		display: block;
		text-align: center;
		
		div{
			display: inline-block;
			margin-left: 25px;
			margin-right: 25px;
			margin-top: 20px;
		}
	}

	.flexbottom {
		grid-area: flexbottom;
		display: grid;
		grid-gap: 10px;
		grid-template-columns: auto auto auto auto auto;
		background-color: @mediumbg;
	}

	.flexbottom h2 {
		grid-column-start: 1;
		grid-column-end: 6;
	}

	.sidebar {
		color: #000000;
		grid-area: sidebar;
		padding-left: 40px;
		padding-top: 40px;
		
		.item {
			display: block;
		}
		
		div.item:hover .subItem {
			display: block;
			max-height: 200px;
			font-weight: bold;
		}
		
		div.item:hover{
			font-weight: bold;
		}
		
	}

	.subItem {
	 	overflow: hidden;
	  	max-height: 0;
	  	padding-left: 30px;
	}

	.subItem:hover {
		color: red;
	}

	.mon div:first-child {
		font-weight: bold;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.mon {	
		width: 200px;
		border-style: solid;
		border-width: 2px;
		border-radius: 15px;
	}

	.flexbottom .mon:nth-child(even){
		.gradient(to left, @hardbg , @lightbg);
	}

	.flexbottom .mon:nth-child(odd){
		.gradient(to left, @lightbg, @hardbg);
	}

	.bar1 {
		height: 70%;
		width: 60px;
		background-color: green;
	}

	.bar2 {
		height: 60%;
		width: 60px;
		background-color: green;
	}

	.bar3 {
		height: 100%;
		width: 60px;
		background-color: green;
	}

	.bar4 {
		height: 40%;
		width: 60px;
		background-color: green;
	}
}

@media screen and (max-width: 813px) {
	
	body {
		background-color: @mainbg;
	}
	
	.sidebar {
		display: none;
	}
	
	.title {
		.gradient(to right, @mainbg , @lightbg);
		padding: 5px;
		text-align: center;
		font-size: 32pt;
	}
	
	.menu{
		
		.item{
			color: white;
		}
		
		div.item:hover{
			background-color: @lightbg;
		}
		
		.item:nth-child(2n+1){
			background-color: @mainbg;
		}
		
		.item:nth-child(2n+2){
			background-color: @softbg;
		}
		
	}

	.bargraph {
		background-color: @mainbg;
		height: 200px;
	}
	
	.bar1 {
		margin-top: 20px;
		margin-bottom: 20px;
		height: 30px;
		width: 70%;
		background-color: red;
	}

	.bar2 {
		margin-top: 20px;
		margin-bottom: 20px;
		height: 30px;
		width: 60%;
		background-color: red;
	}

	.bar3 {
		margin-top: 20px;
		margin-bottom: 20px;
		height: 30px;
		width: 100%;
		background-color: red;
	}

	.bar4 {
		margin-top: 20px;
		margin-bottom: 20px;
		height: 30px;
		width: 40%;
		background-color: red;
	}
	
	.flexbottom {
		background-color: @mediumbg;
	}
	
	.mon {
		.gradient(circle, @mainbg, @hardbg);
		margin-top: 5px;
		margin-right: 2px;
		border-radius: 20px 20px 20px 20px;
		
		* {
			margin-left: 10px;
			font-weight: bold;
		}
		
		div:first-child{
			color: blue;
		}
		
		div:not(:first-child){
			color: @lightblue;
		}
	}
	
}