#dynamic-list {
			list-style: none;
			width: 60%;
		}
		
		#squad-list {
			list-style: none;
			position: relative;
			right: 40px;
		}
		
		.highlight {
			background-color: red;
			font-weight: bold;
		}
		
		h1 {
			text-align: center

		}

		#army {
		   color:red;
		   background-color:black;
		}

		body {
            background-color:lightcyan;

		}

		h3 {
		   color:red;
		   font-size: 140%;
		}
		#battalionList {
		   text-align:center;
		}



		
      

		