  <div class="subsection44">
    <div class="footer1">
    <div style="display: inline-block;">

      <h2>Quick Links</h2>
      <ul>
        <li><a href="">&raquo Home</a></li>
        <li><a href="">&raquo About Us</a></li>
        <li><a href="">&raquo Services</a></li>
        <li><a href="">&raquo Products</a></li>
        <li><a href="">&raquo Contact Us</a></li>
      </ul>
    </div>
    
    </div>

  
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="./assets/js/jquery.viewbox.min.js"></script>
<script>
		$(function(){
			
			$('.thumbnail').viewbox();
			$('.thumbnail-2').viewbox({fullscreenButton: true});

			(function(){
				var vb = $('.popup-link').viewbox();
				$('.popup-open-button').click(function(){
					vb.trigger('viewbox.open');
				});
				$('.close-button').click(function(){
					vb.trigger('viewbox.close');
				});
			})();
			
		});
	</script>
