<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="stylesheet/less" type="text/css" media="screen" href="main.less" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
     <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
      <link rel="stylesheet" href="./assets/css/viewbox.css">
      <link rel="stylesheet" href="./assets/css/preloader.css">
      <script type="text/javascript" src="style.js"></script>
  <title>{{title}}</title>
  <script>
      $(window).load(function() {
     $(".loader").delay(2000).fadeOut("slow");
     $("#overlayer").delay(2000).fadeOut("slow");
   });
   
    </script>
</head>

<div id="overlayer"></div>
<span class="loader">
  <span class="loader-inner"></span>
</span>
