<div class="containerdark">
                <div class="wrapper" id="top_div">
                  <div id="top_left">
    
  
                <div class="col-xs-4">
                    
                </div>
              </div>
      
                  <div id="top_right" class="topbutton"> 
                    <label><a href="index.php" title="user" style="text-decoration:none;color:white;"> Logout</a> </label>
                    
              </div>
              <div id="clear">
              </div>
            </div>
          </div>