*{
	margin:0px;
	padding:0px;
}



/***NAVIGATION***/

.menu
{width: 100%;
height: 100px;
background-color: lightblue;}

.rightmenu
{width:70%;
height: 100px;
float: right;}

.rightmenu ul
{margin-left: 200px;}
.rightmenu ul li a
{text-decoration: none;
color: purple;
transition: all 1s;}

.rightmenu ul li
{font-family: 'Montserrat', sans-serif;
display: inline-block;
list-style: none;
font-size: 15px;
color:blue;
font-weight: bold;
line-height: 100px;
margin-left: 40px;
text-transform: uppercase;}
#fisrtlist a
{color: red;}

.rightmenu ul li a:hover
{color: red;}
/***END NAVIGATION**/


/***SLIDER***/
.text
{width: 100%;
margin-top: 285px;
text-transform: uppercase;
text-align: center;
color:grey;}

.text h4
{font-size: 14px;
font-family: 'Open Sans', sans-serif;}

.text h2
{font-size:42px;
font-family: 'Montserrat', sans-serif;
font-weight: 700px;
margin:14px 0px;}
/**END SLIDER**/



/***BODY***/

#div-text
{margin: 3px;
width: 393px;
display:inline-block;
margin-top: 50px;
margin-bottom: 15px;
box-shadow: 5px 5px 10px grey;
padding: 15px;}

#text-image
{width: 393px;
margin: auto;}

.leftimg
{width: 400px;
height: 300px;
padding-top: 100px;
padding-left: 20px;}

.righttext
{text-align: right;}

#div_text
{width: 330px;
margin: 3px;
display: inline-block;
border-radius: 15px;
border: blue;
padding: 10px;}

#div_text img
{border-radius: 35px;
border:1px  gray;
margin: 5px;
padding: 5px;}

#container
{padding-top: 200px; 
width: 100%;
color: black;}

.wrapper
{width: 1100px;
margin: auto;}

.wrapper1
{height: 300px;
width: 1300px;
margin: auto;}




#images
{margin-right: 10px;
margin-top: 15px;
display: inline-block;}
#images p
{padding-left: 10px;
padding-top: 110px;
}

.images
{margin-right: 10px;
margin-top: 15px;
display: inline-block;}

.images p
{padding-left: 10px;
margin-top: 110px;
padding-left: 450px;
padding-right: 220px;
}
/**END BODY**/



/**FOOTER**/
.subsection44

{
   height: 260px;
   background-color: lightblue;
}
.subsection4

{
   height: 410px;
   background-color: lightblue;
}
.footer1
{ background-color: lightblue;
	width: 50%;
	padding-top: 40px;
	display: inline-block;
}

.footer
{background-color:  black;
padding: 20px 0px;}
.footer p
{color: white;
margin-bottom: 10px;
margin-top: 10px;}
.footer1 ul li a
{text-decoration: none;color: black;
line-height: 20px;}
.footer1 ul
{padding-left: 70px;}
.footer1 h2 
{padding-left: 40px;
}


.fa {
 padding: 10px;
 font-size: 20px;
 width: 40px;
 text-align: center;
 text-decoration: none;
 margin: 5px 2px;
}

.fa:hover 
{opacity: 0.7;}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}


.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;}
.icon
{padding-left: 520px;
	padding-top: 30px;
	display: inline-block;
	float: left;}

/**END FOOTER**/


/***ABOUT WORLD WAR***/
.section
{
     background-size: cover;
	background-attachment: fixed;
	height: 100%;
}
.subsection11
{
   height: 48%;
   background-color: white;

}
.subsection1
{
   height: 58%;
   background-color: white;
}
.subsection1 h1
{text-align: center;}
.subsection1 img
{
	border-radius: 25px;

}
.subsection1 p
{text-align: center;}


.subsection2
{height: 58%;
   background-color: white;
}
.subsection2 h1
{text-align: center;}

.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;

}

.gallery:hover {
    border: 1px solid #777;

}

.gallery img {
    width: 100%;
    height: 200px;

}

.desc {font-weight: bold;
    padding: 15px;
    text-align: center;
    height: 30px;
}




.subsection3

{
   height: 60%;
   background-color: white;
}

.subsection3 h1 
{text-align: center;}
.subsection3 p 
{text-align: center;}
.subsection3 img
{
	height: 220px;
	width: 350px;
	border-radius: 20px;

}
.subsection4

{
   height: 400px;
   background-color: lightblue;

}
.footer1
{ background-color: lightblue;
	width: 50%;
	padding-top: 40px;
	display: inline-block;
}

.subsection

{
   height: 50%;
   background-color: white;
}
.sectone
{
  background-image: url("images/418067.jpg");
}

.secttwo
{
  background-image: url("images/654496.jpg");
}
.sectthree
{
  background-image: url("images/378383.jpg");
}
  .sectfour
{
  background-image: url("images/381083.jpg");
}
/***END OF ABOUT WORLD WAR***/



/***CONTACT***/

.contact
{
	width: 100%;
	padding-bottom: 100px;
	
}



#content
{
	width: 180px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #76777a;
	line-height: 1.71;
}
.contact_info_container
{
	margin-top: 100px;
}
.contact_info_title
{
	font-family: 'Roboto Slab', serif;
	font-size: 36px;
	font-weight: 700;
	color: #384158;
}
.contact_form
{
	padding-right: 10px;
}
.comment_form
{
	margin-top: 35px;
}
.comment_input
{
	width: 100%;
	height: 46px;
	border: solid 1px #d9d9d9;
	border-radius: 3px;
	padding-left: 19px;
	font-size: 16px;
	font-weight: 400;
	color: #2c3145;
}
.comment_form > div:not(:last-child)
{
	margin-bottom: 25px;
}
.comment_input:focus
{
	border: solid 1px #14bdee;
	outline: none;
}
.comment_textarea
{
	width: 100%;
	height: 150px;
	padding-top: 15px;
}
.form_title
{
	font-size: 16px;
	font-weight: 400;
	color: #384158;
	margin-bottom: 12px;
}
.comment_button
{
	width: 150px;
	height: 46px;
	background: #14bdee;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	color: #FFFFFF;
	cursor: pointer;
	border: none;
	outline: none;
	border-radius: 3px;
	margin-top: 15px;
}
.comment_button:hover
{
	box-shadow: 0px 5px 40px rgba(0,0,0,0.25);
}
.contact_info
{
	padding-left: 45px;
}
.contact_info_text
{
	margin-top: 27px;
}
.contact_info_location
{
	margin-top: 28px;
}
.contact_info_location_title
{
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	font-weight: 700;
	color: #384158;
}
.location_list
{
	margin-top: 14px;
}
.location_list li
{
	font-size: 14px;
	color: #5e6271;
}
.location_list li:not(:last-child)
{
	margin-bottom: 9px;
}

/****END OF CONTACT ****/
