  <div class="subsection44">
    <div class="footer1">
    <div style="display: inline-block;">

      <h2>Quick Links</h2>
      <ul>
        <li><a href="">&raquo Home</a></li>
        <li><a href="">&raquo About Us</a></li>
        <li><a href="">&raquo Services</a></li>
        <li><a href="">&raquo Products</a></li>
        <li><a href="">&raquo Contact Us</a></li>
      </ul>
    </div>
    
    </div>

  
  </div>
