<div id="head">
  <div id="timg"></div>
  <div class="invisiblock">
    <div class="titlec">
      <div id="logo">
        <div id="logoc"></div>
      </div>
      <div id="title">
        {{title}}
        <div id="subt">
          Stay connected
        </div>
        <div class="get">
          <a href="install.php">Get {{title}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
