* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	justify-content: center;
	height: 100vh;
	background: #37698a;
}

h1 {
	display: flex;
	color: #FFF;
	align-self: center;
	margin: 20px;
}

input {
	color: #4b4b4b;
}

.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}

.login-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input, .login button {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="text"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
  margin: 0 0 5px 0;
}

/* Text fields' focus effect */
.login input[type="email"]:focus {
  border-color: #888;
}

.login button {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login button:hover {
  background: #17c;
}

/* Buttons' focus effect */
.login button:focus {
  border-color: #05a;
}


#wrapper {
	height: 100%;
	width: 50%;
	flex-direction: column;
	align-self: center;
	border-radius: 10px;
	background: #FFF;
	border: 1px solid #ececed;
	overflow: hidden;
	margin: 0 0 20px 0;
	display: none;
}

#wrapper.active {
	display: flex;
}

#chat {
	display: flex;
  	flex: 1 1 auto;
  	flex-direction: column;
  	padding: 10px 20px;
	overflow-y: auto; 
}

#chat::-webkit-scrollbar {
  	width: 3px;
}
 
#chat::-webkit-scrollbar-thumb {
 	background: #666; 
}

#input-wrapper {
	display: flex;
	flex: 0 1 auto;
	border-top: 2px solid #ececed;
}

#message {
	width: 90%;
	height: 50px;
	border: 0;
	text-indent: 20px;
}

#send {
	width: 10%;
	height: 50px;
	display: flex;
	justify-content: center;
	text-align: center;
	line-height: 50px;
	background: #28d;
	color: #FFF;
	cursor: pointer;
	border: 0;
	outline: 0;
}

.bubble {
	padding: 7px 10px;
	background: #def6c7;
	border-radius: 5px;
	margin: 0 0 5px 0;
	min-width: 100px;
	align-self: flex-start;
	position: relative;
	max-width: 80%;	
	flex-direction: column;
}

.bubble.self {
    align-self: flex-end;
}

.bubble.special {
	display: block;
}

.bubble img {
	max-width: 100%;
    max-height: 300px;
    margin: 5px 0;
}

.bubble .command {
    font-size: 12px;
    font-style: italic;
}

.bubble.other:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  	left: -10px;
	right: auto;
  	top: 0px;
	bottom: auto;
	border: 13px solid;
	border-color: #def6c7 transparent transparent transparent;
}

.bubble.self:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  	left: auto;
	right: -10px;
  	top: 0px;
	bottom: auto;
	border: 13px solid;
	border-color: #def6c7 transparent transparent transparent;
}

.bubble .user {
	color: #e542a3;
	font-weight: bold;
	font-size: 12px;
	line-height: 20px;
}

.bubble .message {
	display: flex;
    flex: 1 1 auto;
}
.bubble .time {
	font-size: 11px;
    color: #adadad;
    margin: 0 0 0 15px;
    text-align: right;
}

.bubble .message .time {
	display: flex;
    align-self: flex-end;
}

.bubble .message .text {
	font-size: 14px;
	flex: 1 1 auto;
}